<nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand navbar-left" *ngIf="!isLoggedIn" [routerLink]="'/login'">Mavit</a>
    <a class="navbar-brand navbar-left" *ngIf="isLoggedIn" [routerLink]="'/home'">Mavit</a>
    <ul class="nav navbar-right">
        <li>
            <div *ngIf="!isLoggedIn" class="btn-nav">
                <a class="btn btn-outline-light" [routerLink]="'/login'">Login</a>
            </div>
            <div *ngIf="isLoggedIn" class="btn-nav">
                <button class="btn btn-outline-light" (click)="logout()"> 
                    Logout
                </button>
            </div>
        </li>
    </ul>
</nav>