<div class="container h-100 mt-5">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-8">
            <div class="card mt-5 mb-5 text-center">
                <h4 class="card-title mb-4 mt-5 text-center">401</h4>
                <div class="card-body">
                    <div class="card-text text-center mb-5">
                        You Are Not Authorized To View This Page
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>